@media (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media (min-width: 551px) {
  body {
    width: 47rem;
  }
}
:root {
  --background: #fbfbfb;
  --logo: #f38181;
  --text: #756c83;
  --other: #b9e1dc;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--text);
  font-family: Montserrat,sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0;
  margin: auto; 
  padding: 0.7rem;
  text-align: center;
}

h1 {
  color: var(--logo);
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 2.5rem;
  padding: 0rem;
}

h4 {
  font-size: 0.85rem;
}

.siteHeader {
  padding: 2rem;
}
