credentials.py
spider/build/
spider/dbs/
spider/eggs/
spider/logs/
spider/project.egg-info/
spider/previous_scraping_dates.txt
utils/twistd.pid
/*.pyc
.ipynb_checkpoints
.cache/
__pycache__/
scrapy.pem
dbs/
logs/
eggs/
