body {
  background-color:  #001f3f;
  color: grey;
  width: 700px;
  margin: auto; 
  text-align: center;
  font-size: 21px;
}

h1 {
  color: silver;
  font-size: 60px;
}

h2 {
  color: silver;
  font-size: 30px;
}

p {
  text-align: left;
  text-indent: 30px;
}


table {
  color: grey;
  border-collapse: collapse;
  font-size: 14px;
}

th {
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  color: silver;
}
td {
  text-align: right;
  padding: 15px;
}

tr:hover {background-color: #FFFF66;}

footer {
  font-size: 12px;
}
