body {
  background-color:  #001f3f;
  color: grey;
  width: 70%;
  margin-left:15%; 
  text-align: center;
}

h1 {
  color: silver;
}
h3 {
  font-size: 15px;
}

h2 {
  color: silver;
  font-size: 18px;
}

table {
  color: grey;
  border-collapse: collapse;
  font-size:12px;
}

th {
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  color: silver;
}
td {
  text-align: right;
  padding: 15px;
  border-top: 1px solid #ddd;
}

tr:hover {background-color: #85144b;}

footer {
  font-size: 12px;
}
