/* Define colors used across the page */
:root {
  --bg-color: #001f3f;
  --hover-color: grey;
  --selected: #02064a;
  --lighter-text: silver;
  --darker-text: grey;
}

/* Body and paragraphs */
body {
  background-color: var(--bg-color);
  color: var(--darker-text);
  width: 680px;
  margin: auto; 
  text-align: center;
  font-size: 21px;
}

h1 {
  color: var(--lighter-text);
  font-size: 60px;
}

h2 {
  color: var(--lighter-text);
  font-size: 30px;
}

p {
  text-align: left;
  text-indent: 30px;
}


/* Table */
table {
  color: var(--darker-text);
  border-collapse: collapse;
  font-size: 14px;
  border: 1px solid;
}
th {
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  color: var(--lighter-text);
}
td {
  text-align: right;
  padding: 15px;
  color: var(--lighter-text);
}
tr:hover {
  background-color: var(--hover-color);
}

/* Tabs */
.tab {
  overflow: hidden;
  max-width: 680px;
  margin: 0 0; 
  padding: 0 0 0 0;
  outline: none;
  background-color: var(--bg-color);
}
.tab button {
  display: block;
  width: 50%;
  margin: 0;
  border: none;
  float: left;
  line-height: 40px;
  cursor: pointer;
  font-size: 20px;
  color: grey;
  background-color: var(--selected);
  border-radius: 10px 10px 0 0;
}
.tab button:hover {
  background-color: var(--hover-color);
}
.tab button.active {
  background-color: var(--lighter-text);
}

footer {
  font-size: 12px;
}
