/* Define colors used across the page */
:root {
  --bg-color: #001f3f;
  --lighter-text: silver;
  --darker-text: grey;
}

/* Body and paragraphs */
body {
  background-color: var(--bg-color);
  color: var(--darker-text);
  margin: auto; 
  font-size: 21px;
  text-align: center;
}

h1 {
  color: var(--lighter-text);
  font-size: 85px;
  text-align: center;
}


p {
  color: var(--lighter-text);
  text-align: left;
  text-indent: 15px;
}

ol {
  color: var(--lighter-text);
  text-align: left;
}

footer {
  font-size: 16px;
  margin: 30px;
  text-align: center;
}

.container {
    padding: 15px;
}
