asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
blinker==1.4
boto3==1.9.181
botocore==1.12.181
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
click==6.7
cloud-init==19.1
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.6.1
cssselect==1.0.3
distro-info===0.18ubuntu0.18.04.1
docutils==0.14
hibagent==1.0.1
httplib2==0.9.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jmespath==0.9.4
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
lxml==4.3.4
MarkupSafe==1.0
netifaces==0.10.4
numpy==1.16.4
oauthlib==2.0.6
PAM==0.4.2
pandas==0.24.2
parsel==1.5.1
pyarrow==0.14.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyDispatcher==2.0.5
pygobject==3.26.1
PyHamcrest==1.9.0
PyJWT==1.5.3
pyOpenSSL==19.0.0
pyserial==3.4
python-apt==1.6.4
python-dateutil==2.8.0
python-debian==0.1.32
pytz==2019.1
PyYAML==3.12
queuelib==1.5.0
requests==2.22.0
requests-unixsocket==0.1.5
s3transfer==0.2.1
Scrapy==1.6.0
scrapy-fieldstats==0.1.8
scrapyd==1.2.1
scrapyd-client==1.2.0a1
SecretStorage==2.3.1
service-identity==18.1.0
six==1.12.0
ssh-import-id==5.7
systemd-python==234
Twisted==19.2.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.3
Unidecode==1.1.1
w3lib==1.20.0
zope.interface==4.6.0
