#filter {
  text-align: center;
}

#transaction {
  width: 6.1rem;
  margin: 0.4rem;
}

#min_size {
  width: 1.8rem;
  margin: 0.4rem;
  text-align: right;
}
#max_size {
  width: 1.8rem;
  margin: 0.4rem;
  text-align: right;
}
#city {
  width: 8.1rem;
  margin: 0.4rem;
}
